body {
  color: grey;
  background-color: rgb(26, 26, 26);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: rgb(214, 205, 205);
  font-family: Arial, Helvetica, sans-serif;
}

.banner-home img{

}

.banner-home .texto-menu{

}

.banner-home .texto-menu h1{

}

.banner-home .texto-menu p1{

}

.banner-home .texto-menu .btn{

}
.scnd-banner-home{
  
}
